* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden; 
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #333;
    font-size: 120%;

}

.heading{

    font-size:180%;
     text-align: center;
      color: aqua;
}

.heading{

    font-size:180%;
    text-align: center;
    color: aqua;
}

.main-head a{
    font-family:'Noto Serif', serif;
    text-decoration: none;
    color: #0a2b50;
    text-shadow: 1px 1px 19px rgb(80, 145, 219), 0 0 25px rgb(213, 220, 230), 0 0 5px rgb(35, 83, 216);

}

.main-head a:hover{
    color: #23548b;
}

.main-head a:visited{
    color: #0c2d52 ;
    
}

.main-head a:active, a:focus {
    color: #0c2d52 ;
  }


.main-head .w{
    /* font-family: 'Goblin One', cursive; */
    color: #091b30;
    font-weight: 800;
    font-size:70px;

}

.container {
    min-height: 100vh;
    width: 100%;
    /* background-color: #333; */
    /* background-image: linear-gradient(135deg, #485461 0%, #28313b 74%); */
    background: linear-gradient(135deg, #70a7e2 0%, #021a35 74%);
    overflow: hidden;
    /* overflow: scroll; */
    transform-style: preserve-3d;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}

.menu {
    max-width: 98%;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}


/* Card */
.card {
    background: #000000; 
    /*background-image:  linear-gradient(135deg, #525558 0%, #19181a 74%);*/
    opacity: 0.99;
    color: white;
    padding: 2em;
    border-radius: 30px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Search place */
.search {
    font-size: 1 rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input {
    width: 400px;
    padding-top: 20px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(150% - 200px);
}


button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

/*.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: -32px;
}*/

#graph-loading{
    position: relative;
    left: 20px;
}





.logo {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}

.logo span {
    font-weight: 300;
}


/** Weather Menu bar**/

.weather-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* background-color: black; */
    justify-content: flex-end;
}

.bar {
    width: 1.9rem;
    height: 2px;
    border-radius: 2px;
    background-color: whitesmoke;
    transition: 0.5s;
    position: relative;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: 1.9rem;
    height: 2px;
    background-color: aliceblue;
    transition: 0.5s;
}

.bar:before {
    transform: translateY(-9px);
}

.bar:after {
    transform: translateY(9px);
}


/* Mid written content */

.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    /* To shift img towards left */
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
}

header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.overplay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(35, 36, 36, 0.8); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mainpage{
    position: relative;
    overflow:auto;
    width: 100%;
    height: 2000px;
    top: 0;
    left: 0;
    /* display: flex; */
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.toAlignCenter{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(43, 51, 59, 0.8); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner {
    max-width: 90rem;
    /* background-color: white; */
    text-align: center;
    color: aliceblue;
    padding: 0 2rem;
}

.title {
    font-size: 2.7rem;
}


/* Activity after bar click */

.container.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
    cursor: pointer;
}


/* To create X mark in active state */

.container.active .bar:before {
    transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
    transform: translateY(0) rotate(-45deg);
}


/* To minimize the image on toggle active state
    animations 
*/

.container.active .main {
    animation: main-animation 0.5s ease-in-out;
    transform: perspective(1300PX) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
    from {
        transform: translate(0);
    }
    to {
        transform: perspective(1300PX) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}


/* Links ......................................................................................................*/

.links {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styling of list ...............................................................................................*/

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}

.links a:hover {
    color: #C3C3C3;
}

.links #footer{
    font-size: 13px;
    color: #fcfcfc;
    padding-left: 45px;
}
.links #footer .line {
    height: 3px;
    border-width: -3px;
    /* color: cyan; */
    background-color: cyan;
}


/* Animations for activated link .......................................................................................*/

.container.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}


/* Adding shadows ......................................................................................*/

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
}


/* First Shadow --------------------------------*/

.shadow.one {
    z-index: -1;
    opacity: 0.15;
}

.container.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
    0% {
        transform: translate(0);
    }
    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}


/* Second Shadow -----------------------------------*/

.shadow.two {
    z-index: -2;
    opacity: 0.1;
}

.container.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
    0% {
        transform: translate(0);
    }
    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}


/* To increase the translateZ() value of the (.main) element and first layer when we hover the (.main) element */

.container.active .main:hover+.shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
    ;
}

.container.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
    ;
}



/* graph */
#chartBase{
    /* background: url("Images/backup.jpg") no-repeat top center / cover; */
    display: none;
    flex-direction: column;
    border: red;
    align-items: center;

}

/* div to place the graph canvas */
.chart-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* class for canvas of the graphs */
.chart{
    background-color: rgb(50, 50, 50); /* background color of the graph */ 
    display: none; /* initially display set to none */
}


/* cloth setting  */
.wish-img {
    width: 0px;
    height: 0px;
}

#wish-text {
    font-size: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 8px 3px 9px #000000;
}

#weather-cloth {
    display: flex;
}

