@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root{
    --main-bg:#1e272e;
    --main-color: #0097e6;
}


.container {
    min-height: 100vh;
    width: 100%;
    background-color: #333;
    background-image: linear-gradient(135deg, #62686e 0%, #2b2e31 74%);
    overflow: hidden;
    transform-style: preserve-3d;
}

.navbar {
    /* background-color: var(--main-bg); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}
.navbar h3:hover{
    color: rgb(255, 255, 255);
}
.navbar h3 span:hover{
    color: rgb(255, 217, 0);
}

/* weatheria */

.main-head a{
    font-family:'Noto Serif', serif;
    text-decoration: none;
    color: #66bda7;
    /* text-shadow: 0px 2px 50px whitesmoke; */

}

.main-head a:hover{
    color: #66bda7;
}

.main-head a:visited{
    color: #66bda7;
    
}

.main-head a:active, a:focus {
    color: #66bda7;
  }


.main-head .w{
    /* font-family: 'Goblin One', cursive; */
    color: #138f8f;
    font-weight: 800;
    font-size:70px;

}



.menu {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}


/* Time */

.time {
    font-size: 9rem;
    font-family: 'Roboto', sans-serif;
}


/* Greet */

.greet {
    font-size: 5rem;
    font-family:  sans-serif;
}


/* Search place */

.search {
    font-family: serif;
    /* font-size: 2rem; */
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 40%;
    border-bottom: 6px solid #4caf50 ;
    margin-bottom: 10px;
    padding: 3px 0;
    /* font-weight: 100;  */
    
}

/* input {
    width: 400px;
    padding-top: 20px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    background:transparent;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
} */

.logo {
    color: #fff;
    /* background-color: var(--main-color); */
    font-size: 3rem;
    font-weight: 600;
    /* text-transform: uppercase;  */
    letter-spacing: 2px;
    line-height: 3rem;
}

/* .logo span {
    font-weight: 300;
    color: red;
} */


/** Weather Menu bar**/

.weather-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* background-color: black; */
    justify-content: flex-end;
}

.bar {
    width: 1.9rem;
    height: 2px;
    border-radius: 2px;
    background-color: whitesmoke;
    transition: 0.5s;
    position: relative;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: 1.9rem;
    height: 2px;
    background-color: aliceblue;
    transition: 0.5s;
}

.bar:before {
    transform: translateY(-9px);
}

.bar:after {
    transform: translateY(9px);
}


/* Mid written content */

.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    /* To shift img towards left */
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
}

header {
    min-height: 100vh;
    /* width: 100%; */
    /* background: url("Images/mountainRiver.jpg") no-repeat top center ;
    position: relative; */
}

.overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
/* 
.inner {
    max-width: 90rem;
    background-color: white;
    text-align: center;
    color: rgb(255, 240, 240);
    padding: 0 2rem;
} */

.title {
    font-size: 2.7rem;
}


/* Activity after bar click */

.container.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
    cursor: pointer;
}


/* To create X mark in active state */

.container.active .bar:before {
    transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
    transform: translateY(0) rotate(-45deg);
}


/* To minimize the image on toggle active state
    animations 
*/

.container.active .main {
    animation: main-animation 0.5s ease-in-out;
    transform: perspective(1300PX) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
    from {
        transform: translate(0);
    }
    to {
        transform: perspective(1300PX) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}


/* Links ......................................................................................................*/

.links {
    position: absolute;
    font-size: 2 rem;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styling of list ...............................................................................................*/

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}

.links a:hover {
    color: #C3C3C3;
}

.links #footer{
    font-size: 13px;
    color: #fcfcfc;
    padding-left: 45px;
}
.links #footer .line {
    height: 3px;
    border-width: -3px;
    /* color: cyan; */
    background-color: cyan;
}



/* Animations for activated link .......................................................................................*/

.container.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}


/* Adding shadows ......................................................................................*/

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
}


/* First Shadow --------------------------------*/

.shadow.one {
    z-index: -1;
    opacity: 0.15;
}

.container.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
    0% {
        transform: translate(0);
    }
    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}


/* Second Shadow -----------------------------------*/

.shadow.two {
    z-index: -2;
    opacity: 0.1;
}

.container.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
    0% {
        transform: translate(0);
    }
    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}


/* To increase the translateZ() value of the (.main) element and first layer when we hover the (.main) element */

.container.active .main:hover+.shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
    ;
}

.container.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
    ;
}



  .btn{
    width: 40%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
